<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Snake Clash!</title>
        <style>
            body {
                overflow: hidden; /*No scroll bar*/
            }

            #gameCanvas {
                /*position: relative;
                width: 80%;
                padding-bottom: 80%;
                height: 0;*/
                border: 1px solid black;
                /*margin-left: auto;
                margin-right: auto;
                margin-top: 3em;*/
            }
        </style>
    </head>
    <body>
        <canvas id="gameCanvas" width="600px" height="600px"> Failed to load canvas, please try another browser or enable JavaScript. </canvas>

        <script src="game.js" type="module"></script>
    </body>
</html>
